<h2>Create event:</h2>
<form action="/events/create" method="post">
  <label for="name">Organizer name: </label><input type="text" name="name" required><br>
  <label for="email">Organizer email: </label><input type="email" name="email" required><br>
  <label for="event">Event Title: </label><input type="text" name="title" required><br>
  <label for="date">Date: </label><input type="text" name="date" value="yyyy-dd-mm"><br>
  <input type="submit" value="Create event">
</form>